/* Theme Colors */
.bg-teal {
  background-color: #009688;
}

.bg-light-teal {
  background-color: #E5F4F3;
}

/* Navbar */
.navbar-brand {
  margin-right: auto;
}

/* Main Layout */
.main-wrapper {
  display: flex;
  min-height: calc(100vh - 100px - 50px);
}

.sidebar {
  width: 250px;
  min-width: 250px;
  min-height: calc(100vh - 100px - 50px);
  position: relative;
  z-index: 1;
}

/* Center content in sidebar items */
.nav-link {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 1rem;
  position: relative;
  z-index: 2;
}

.main-content {
  flex-grow: 1;
  width: calc(100% - 250px);
  min-height: calc(100vh - 100px - 50px);
  overflow-x: hidden;
}

.content-area {
  background-color: #ECF0F5;
  padding: 1rem;
}

/* Sidebar Items */
.nav-item {
  width: 100%;
  height: 50px;
  position: relative;
}

.sidebar-icon {
  margin-right: 1rem;
}

/* Active Link */
.active-link {
  color: white !important;
  font-weight: 600;
  background-color: transparent;
}

.active-link img {
  filter: brightness(0) invert(1);
}

/* Highlight Bar */
.highlight-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #009688;
  z-index: -1;
  border-radius: 0;
}

/* Responsive */
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    min-width: unset;
    position: absolute;
    z-index: 1040;
    background-color: #e0f7fa;
  }

  .main-content {
    width: 100% !important;
  }

  .highlight-bar {
    width: 100%;
  }
}
