.btn-custom {
  background: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 14px;
  transition: 0.2s ease-in-out;
}

.btn-custom:hover {
  background: #e9ecef;
}

.active-tab {
  background: #009688; /* Bootstrap primary */
  color: #fff !important;
  border-color: #0d6efd;
}

          /* style="background-color: #009688; color: #ffffff" */