<div class="container-fluid">
  <!-- Settings Header -->
  <div class="my-3">
    <div class="bg-white rounded shadow-sm px-3 py-3 d-flex justify-content-between align-items-center flex-wrap">
      <h5 class="fw-bold mb-0">Settings</h5>
    </div>
  </div>

  <!-- Tab Navigation -->
  <div class="d-flex gap-2 flex-wrap mb-4">
    <a
      class="btn btn-custom"
      routerLink="organization"
      routerLinkActive="active-tab"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Organization
    </a>
    <!-- <a
      class="btn btn-custom"
      routerLink="leave-attendance"
      routerLinkActive="active-tab"
    >
      Leave & Attendance
    </a>
    <a
      class="btn btn-custom"
      routerLink="payroll"
      routerLinkActive="active-tab"
    >
      Payroll
    </a> -->
    <a
      class="btn btn-custom"
      routerLink="permission"
      routerLinkActive="active-tab"
    >
     Roles & Permission
    </a>
  </div>

  <!-- Child Component Outlet -->
  <router-outlet></router-outlet>
</div>
